aldryn-apphooks-config==0.6.0
aldryn-boilerplates==0.8.0
aldryn-common==1.0.5
aldryn-search==1.1.0
asgiref==3.2.7
dj-database-url==0.5.0
Django==3.0.7
django-appconf==1.0.4
django-appdata==0.3.0
django-classy-tags==1.0.0
django-cms==3.7.2
django-filer==1.7.1
django-formtools==2.2
django-haystack==3.0b2
django-js-asset==1.2.2
django-meta==1.6.1
django-mptt==0.11.0
django-parler==2.0.1
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-sortedm2m==3.0.0
django-spurl==0.6.6
django-standard-form==1.1.5
django-taggit==1.2.0
django-taggit-autosuggest==0.3.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-apphook-setup==0.4.1
djangocms-attributes-field==1.2.0
djangocms-blog==1.1.0
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-installer==1.2.3
djangocms-link==2.6.1
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.9.0
djangocms-video==2.3.0
easy-thumbnails==2.7
html5lib==1.0.1
lxml==4.5.0
Pillow==7.1.2
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
tzlocal==2.1
Unidecode==1.1.1
URLObject==2.4.3
webencodings==0.5.1
YURL==1.0.0
